# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lando\OneDrive - University of Vermont\UVM\Courses\Junior\Spring Semester\Software Engineering\Warmup Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/.idea
/out